body{
    color: $secondary-text-color;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    text-align: left;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

img{
    display: block;
}

h1,h2,h3,h4,h5,h6{
    color: $primary-text-color;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}

.list{
    list-style: none;
}