/* Team */

.team-name{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    }
    
    .section-team__title{
        margin-bottom: 50px;
    }
    
    .section-team__list{
        display: flex;
        padding-left: 0;
    }
    
    .section-team__description{
        margin: 0;
        margin-top: 10px;
        
    }
    
    .section-team__item{
        margin-right: 30px;
        min-height: 428px;
        background-color: $primary-white-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 30px;
    
        &:last-child{
            margin: 0;
        }
    }

    .section-team__wrap{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 16px;
    }
    
    .section-team__name{
        margin: 0;
    }
    
    /* Team socials */
    
    .social-team{
        display: flex;
        justify-content: space-around;
        padding-left: 32px;
        padding-right: 32px;
    }
    
    .social-team__icon{
        width: 20px;
        height: 20px;
        fill: $socials-color;
    }
    
    .social-team__item{
        display: flex;
        align-items: center;
        margin-right: 10px;
    
        &:last-child{
            margin-right: 0;
        }
    }
    
    .social-team__link{
        display: flex;
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
        
        &:hover, &:focus{
            background-color: $accent-color;
            border-radius: 50%;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover .social-team__icon,
        &:focus .social-team__icon{
            fill: $primary-white-color;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    
    
    
    
    
    
    